.order-item{
  width: 130px;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.order-item:nth-child(3){
  position: relative;
  top: -55px;
}
.order-inner{
  height: 50px;
  background-color: rgba(204, 204, 204, 0.297);
  border-radius: 5px 5px 0 0;
  padding: 10px;
}
.order-text{
  font-size: 12px;
  font-weight: 600;
  color: #999;
}
.order-part{
  padding: 10px;
}
.bold-price{
  font-weight: 600;
}
.order-list{
  width: 300px;
}